.myCardLink {
  text-decoration: none;
  color:black;
}

.myCardLink:hover {
  text-decoration: none;
  color:black
}

.my-card-header h5 { 
  display: inline;
}


header {
    position: relative;
    background-color: rgb(255, 255, 255);
    min-height: 8rem;
    width: 100%;
    overflow: hidden;
  }

  
  header .container {
    position: relative;
    z-index: 2;
  }
  
  header .overlay {
    position: absolute;
    top: 0;
    left: 0;
    height: 100%;
    width: 100%;
    background-color: rgb(255, 255, 255);
    opacity: 1;
    z-index: 1;
  }
  
  .border-light {
    color: #0000ff;
  }

  .card {
    border: 1px solid rgb(145, 145, 145);
    background-color: white;
    max-width: 18rem;
  }

  .card:hover {
    border: 1px solid rgb(38, 63, 204);
  }

  .card body {
    width: 100%;
  }

  .card-img-top {
    width: 100%;
    max-height: auto;
  }

  .navbar .nav-link {
    color: rgb(0, 0, 0) !important;
  } 

